<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="/style.css">
	<title>Amiguitos Galleria</title>
</head>

<body>
    <div id="background">
        <div id="outerborder">
            <div id="space">
                <h1>Welcome to Art Gallery Page</h1>

                <h2>Options</h2>
                <ul>
                    <li>Tell us your favorite artist: <a href="/form">Art Form</a></li>
                    <li>To access others' favorite artists: <a href="/viewData">Access Data</a></li>
                    <li>View works by artists: <a href="/API">API</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>
