<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Results</title>
</head>

<body>
    <div>
        <h1>Art based on <%- name %></h1><br><br>
        <%- table %>
        <br><a href="/">HOME</a>
    </div>
</body>

</html>
